<div class="card container">
  <div class="card-body">
    <form action="/contact/add" method="post" enctype="application/x-www-form-urlencoded">
      <!-- Name input -->
      <div class="form-outline mb-4">
        <input type="text" id="firstNameInput" class="form-control" />
        <label class="form-label" for="firstNameInput">First Name</label>
      </div>

      <!-- Email input -->
      <div class="form-outline mb-4">
        <input type="text" id="lastNameInput" class="form-control" />
        <label class="form-label" for="lastNameInput">Last Name</label>
      </div>

      <!-- Message input -->
      <div class="form-outline mb-4">
        <input type="number" class="form-control" id="phone" />
        <label class="form-label" for="phone">Phone</label>
      </div>

      <!-- Submit button -->
      <button type="submit" class="btn btn-primary btn-block mb-4">Send</button>
    </form>
  </div>
</div>