.path-0 {
  animation: pathAnim-0 8s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes pathAnim-0 {
  0% {
    d: path(
      "M 0,400 C 0,400 0,133 0,133 C 83.54066985645932,134.22488038277513 167.08133971291863,135.44976076555025 264,142 C 360.91866028708137,148.55023923444975 471.2153110047848,160.42583732057417 571,144 C 670.7846889952152,127.57416267942583 760.0574162679425,82.84688995215312 856,86 C 951.9425837320575,89.15311004784688 1054.555023923445,140.18660287081337 1153,156 C 1251.444976076555,171.81339712918663 1345.7224880382773,152.4066985645933 1440,133 C 1440,133 1440,400 1440,400 Z"
    );
  }
  25% {
    d: path(
      "M 0,400 C 0,400 0,133 0,133 C 119.30143540669857,118.14832535885168 238.60287081339715,103.29665071770334 330,92 C 421.39712918660285,80.70334928229666 484.88995215311,72.96172248803828 558,86 C 631.11004784689,99.03827751196172 713.8373205741627,132.85645933014354 811,140 C 908.1626794258373,147.14354066985646 1019.7607655502393,127.61244019138756 1127,122 C 1234.2392344497607,116.38755980861244 1337.1196172248804,124.69377990430621 1440,133 C 1440,133 1440,400 1440,400 Z"
    );
  }
  50% {
    d: path(
      "M 0,400 C 0,400 0,133 0,133 C 87.15789473684211,113.4688995215311 174.31578947368422,93.9377990430622 278,94 C 381.6842105263158,94.0622009569378 501.8947368421052,113.71770334928232 610,123 C 718.1052631578948,132.28229665071768 814.1052631578949,131.19138755980862 895,120 C 975.8947368421051,108.80861244019138 1041.6842105263156,87.51674641148324 1130,88 C 1218.3157894736844,88.48325358851676 1329.157894736842,110.74162679425838 1440,133 C 1440,133 1440,400 1440,400 Z"
    );
  }
  75% {
    d: path(
      "M 0,400 C 0,400 0,133 0,133 C 107.48325358851676,149.73684210526315 214.96650717703352,166.4736842105263 312,168 C 409.0334928229665,169.5263157894737 495.61722488038265,155.84210526315792 576,147 C 656.3827751196173,138.15789473684208 730.5645933014355,134.15789473684208 833,122 C 935.4354066985645,109.8421052631579 1066.1244019138755,89.5263157894737 1172,90 C 1277.8755980861245,90.4736842105263 1358.9377990430621,111.73684210526315 1440,133 C 1440,133 1440,400 1440,400 Z"
    );
  }
  100% {
    d: path(
      "M 0,400 C 0,400 0,133 0,133 C 83.54066985645932,134.22488038277513 167.08133971291863,135.44976076555025 264,142 C 360.91866028708137,148.55023923444975 471.2153110047848,160.42583732057417 571,144 C 670.7846889952152,127.57416267942583 760.0574162679425,82.84688995215312 856,86 C 951.9425837320575,89.15311004784688 1054.555023923445,140.18660287081337 1153,156 C 1251.444976076555,171.81339712918663 1345.7224880382773,152.4066985645933 1440,133 C 1440,133 1440,400 1440,400 Z"
    );
  }
}

.path-1 {
  animation: pathAnim-1 8s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes pathAnim-1 {
  0% {
    d: path(
      "M 0,400 C 0,400 0,266 0,266 C 89.69377990430621,265.82775119617224 179.38755980861242,265.6555023923445 275,266 C 370.6124401913876,266.3444976076555 472.1435406698564,267.2057416267943 583,274 C 693.8564593301436,280.7942583732057 814.0382775119618,293.5215311004784 908,299 C 1001.9617224880382,304.4784688995216 1069.7033492822966,302.7081339712919 1154,296 C 1238.2966507177034,289.2918660287081 1339.1483253588517,277.64593301435406 1440,266 C 1440,266 1440,400 1440,400 Z"
    );
  }
  25% {
    d: path(
      "M 0,400 C 0,400 0,266 0,266 C 96.22009569377991,271.12918660287085 192.44019138755982,276.25837320574163 287,269 C 381.5598086124402,261.74162679425837 474.4593301435408,242.09569377990434 584,237 C 693.5406698564592,231.90430622009566 819.7224880382774,241.35885167464113 905,237 C 990.2775119617226,232.64114832535887 1034.6507177033493,214.4688995215311 1117,217 C 1199.3492822966507,219.5311004784689 1319.6746411483255,242.76555023923444 1440,266 C 1440,266 1440,400 1440,400 Z"
    );
  }
  50% {
    d: path(
      "M 0,400 C 0,400 0,266 0,266 C 112.86124401913872,284.6794258373206 225.72248803827745,303.3588516746412 310,308 C 394.27751196172255,312.6411483253588 449.97129186602876,303.24401913875596 556,288 C 662.0287081339712,272.75598086124404 818.3923444976076,251.66507177033495 910,242 C 1001.6076555023924,232.33492822966505 1028.4593301435407,234.0956937799043 1106,240 C 1183.5406698564593,245.9043062200957 1311.7703349282297,255.95215311004785 1440,266 C 1440,266 1440,400 1440,400 Z"
    );
  }
  75% {
    d: path(
      "M 0,400 C 0,400 0,266 0,266 C 99.97129186602868,281.11961722488036 199.94258373205736,296.2392344497608 286,308 C 372.05741626794264,319.7607655502392 444.2009569377991,328.1626794258373 531,312 C 617.7990430622009,295.8373205741627 719.2535885167465,255.11004784688993 826,237 C 932.7464114832535,218.88995215311007 1044.7846889952152,223.39712918660288 1148,232 C 1251.2153110047848,240.60287081339712 1345.6076555023924,253.30143540669854 1440,266 C 1440,266 1440,400 1440,400 Z"
    );
  }
  100% {
    d: path(
      "M 0,400 C 0,400 0,266 0,266 C 89.69377990430621,265.82775119617224 179.38755980861242,265.6555023923445 275,266 C 370.6124401913876,266.3444976076555 472.1435406698564,267.2057416267943 583,274 C 693.8564593301436,280.7942583732057 814.0382775119618,293.5215311004784 908,299 C 1001.9617224880382,304.4784688995216 1069.7033492822966,302.7081339712919 1154,296 C 1238.2966507177034,289.2918660287081 1339.1483253588517,277.64593301435406 1440,266 C 1440,266 1440,400 1440,400 Z"
    );
  }
}

.mask-custom {
  backdrop-filter: blur(8px);
  background-color: rgba(255, 255, 255, 0.5);
}

.mask-primary {
  backdrop-filter: blur(8px);
  background-color: rgba(59, 113, 202, 0.5);
}

.mask-warning {
  backdrop-filter: blur(8px);
  background-color: rgba(228, 161, 27, 0.5);
}

.mask-danger {
  backdrop-filter: blur(8px);
  background-color: rgba(220, 76, 100, 0.5);
}
